* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 background-color: yellow;
 font-family: sans-serif;
}

.poke-box {
 width: 215px;
 padding: 0 19px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border: 1px solid black;
 background-color: white;
}

.titleBox  {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 margin-bottom: 15px;
}

.lost {
 width: 100%;
 display: flex;
 justify-content: space-between;
}


.pokemons {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-items: center;
}
.search{
 width: 100%;
 padding-left: 195px;
 padding-bottom: 100px;
}
.article__title{
 width: 180px;
 height: 38px;
 border-radius: 9px;
 border: solid 2px;
 background-color: white;
}
.listt{
 text-align: center;
}
.entry{
 width: 180px;
 height: 38px;
 border-radius: 9px;
 margin-left: 35px;
 background-color: white;
}
.article__list{
 width: 180px;
 height: 38px;
 border-radius: 9px;
 border: solid 2px;
 margin-left: 35px;
 background-color: white;
}
.btn{
 width: 180px;
 height: 38px;
 border: solid 2px;
 border-radius: 9px;
 margin-left: 35px;
 background-color: white;
}
.listt_one{
 text-align: center;
}
.picture{
 width: 100%;
 text-align: center;
 padding-bottom: 70px;
}
.poke-box{
 width: 170px;
 height: 200px;
 border-radius: 12px;
 margin-left: 30px;
 margin-top: 30px;
}